body {
background-color: #C1CDCD;
margin-left:20%;
margin-right: 20%;
border: 20px dotted black;
padding: 10px 10px 10px 10px;
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: large;
line-height: 1.6em;
}
h1, h2, h3 {
font-size: 1.2em;
font-weight: bold;
font-family: sans-serif;
color: #00008B;
}
h1 {
font-size: 200%;
border-bottom: 5px solid black;
border-bottom-color: #00008B;
padding: 15px;
margin: 20px;
}
p.logo {
border-color: black;
border-width: 1px;
border-style: solid;
background-color: #a7cece;
padding: 25px;
margin: 30px;
}
p { 
background-color: #F0FFFF; 
border: 1px outset black;
 color: black;
 padding: 25px;
 margin: 30px;
 font-style: italic;
}
em {
font-family: serif;
text-decoration: none;
}
q {
font-style: italic;
}
p.trains {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 1px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color: #a7cece;
padding: 25px;
margin: 30px;
}
p.refer {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 1px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color: #a7cece;
padding: 25px;
margin: 30px;
}
/* erase old marker*/
ul#a li {
list-style-type: none;
}
/* create new marker */
ul#a li:before {
display: marker;
content: url("../trainbullet2.png");
/* set the following to fit your needs */
vertical-align: 3px;
padding-left: 2px;
padding-right: 12px;

}
ul#a list-style-image: url('../trainbullet2.png') !important;
ul#a {
list-style-image: url('../trainbullet2.png');
color: #FF3030;
}
p.contact {
color: black;
background-color: #8B1A1A;
}

