body {
background-color:  #7EC0EE;
margin-left:20%;
margin-right: 20%;
border: 20px dotted black;
padding: 10px 10px 10px 10px;
font-family: Verdana, Geneva, Arial, sans-serif;
font-size: large;
line-height: 1.6em;
}
h1, h2, h3 {
font-size: 1.2em;
font-weight: bold;
font-family: sans-serif;
color: red;
}
h1 {
font-size: 200%;
border-bottom: 5px solid black;
border-bottom-color: #00008B;
padding: 15px;
margin: 20px;
}
.link {
color: #7CFC00;
}
p { 
background-color: #6CA6CD; 
border: 5px outset white;
 color: black;
 padding: 10px;
 margin: 1px;
 font-style: italic;
}
#header {
border-width: thick;
border-style: ridge;
border-color: white;
}
em {
font-family: serif;
text-decoration: none;
}
q {
font-style: italic;
}
#pre {
border-color: black;
border-width: 1px;
border-style: dashed;
border-color: white;
background-color: #EEDD82;
width: 200px;
padding-top: 1px;
padding-right: 20px;
padding-bottom: 20px;
padding-left: 20px;
margin-left: 20px;
text-align: center;
}
#main {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 1px;
border-style: dashed;
border-color: white;
background-color: #87CEFF;
padding: 25px;
margin: 30px;
}
#footer {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 1px;
border-style: dashed;
border-color: white;
background-color: #EEDD82;
padding: 25px;
margin: 30px;
}
b.font1 {
color: blue;
}
b.font2 {
color: yellow;
}
b.font3 {
color: red;
}
p.trains {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 5px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color:  #87CEFF;
padding: 25px;
margin: 30px;
}
p.refer {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 5px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color: #87CEFF;
padding: 25px;
margin: 30px;
}
/* erase old marker*/
ul#a li {
list-style-type: none;
}
/* create new marker */
ul#a li:before {
display: marker;
content: url("../trainbullet2.png");
/* set the following to fit your needs */
vertical-align: 3px;
padding-left: 2px;
padding-right: 12px;

}
ul#a list-style-image: url('../trainbullet2.png') !important;
ul#a {
list-style-image: url('../trainbullet2.png');
}
ul#a {
color: #FF4500;
}
p.footer {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 5px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color: #FFB90F;
padding: 35px;
margin: 60px;
}
p.contact {
line-height: 1.9em;
font-style: italic;
font-family: Georgia, "Times New Roman", Time, serif;
border-color: black;
border-width: 5px;
border-style: ridge, groove,dashed, dotted, inset, solid;
border-color: white;
background-color: #8B1A1A;
padding: 10px;
margin: 1px;
}
p.home {
background-color: #36648B;
}
